{% set langRootUrl = '/' + lang + '/' if lang !== defaultLang else '/' %}

<section id="banners-mosaic">
  <div class="container no-padding mosaic-holder">
    <div class="col-xs-12 col-md-6">
      <div class="mosaic-banner big  wow bounceInLeft">
        <img alt="" src="/vendor/images/mosaic/real/mosaic01.jpg" />
        <div class="caption">
          <h1>
            <span class="light">high heel</span><br>
            collection
          </h1>
          <a class="le-btn medium" href="#">{{ 'headerLinks.learnMore' | i18n }}</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-3">
      <div class="mosaic-banner inverse wow bounceInRight">
        <img alt="" src="/vendor/images/mosaic/real/mosaic02.jpg" />
        <div class="caption">
          <h1>
            <span class="light">best style</span><br>
            for party
          </h1>
          <a class="le-btn small" href="#">{{ 'headerLinks.learnMore' | i18n }}</a>
        </div>
      </div>
      <div class="mosaic-banner wow bounceInRight">
        <img alt="" src="/vendor/images/mosaic/real/mosaic03.jpg" />
        <div class="caption">
          <h1>
            <span class="light">very unique</span><br>
            collection
          </h1>
          <a class="le-btn small" href="#">{{ 'headerLinks.learnMore' | i18n }}</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-3">
      <div class="mosaic-banner wow bounceInRight" data-wow-delay="0.1s">
        <img alt="" src="/vendor/images/mosaic/real/mosaic04.jpg" />
        <div class="caption">
          <h1>
            <span class="light">vintage</span><br>
            style
          </h1>
          <a class="le-btn small" href="#">{{ 'headerLinks.learnMore' | i18n }}</a>
        </div>
      </div>
      <div class="mosaic-banner wow bounceInRight" data-wow-delay="0.1s">
        <img alt="" src="/vendor/images/mosaic/real/mosaic05.jpg" />
        <div class="caption">
          <h1>
            <span class="light">new</span><br>
            season
          </h1>
          <a class="le-btn small" href="#">{{ 'headerLinks.learnMore' | i18n }}</a>
        </div>
      </div>
    </div>
  </div>
</section>
