{% set langRootUrl = '/' + lang + '/' if lang !== defaultLang else '/' %}

<header class="page-header">
  <div class="top-bar">
    <div class="container">
      <div class="col-xs-12 col-sm-6">
        <ul class="info-inline">
          <li>
            <a href="tel:{{ site.phone }}"><i class="fa fa-phone"></i> {{ site.phone }}</a>
          </li>
          <li>
            <a href="mailto:{{ site.email }}"><i class="fa fa-envelope"></i> {{ site.email }}</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6">
        <ul class="social-icons small">
          <li>
            <a href="#" class="fa fa-facebook-square"></a>
          </li>
          <li>
            <a href="#" class="fa fa-twitter-square"></a>
          </li>
          <li>
            <a href="#" class="fa fa-pinterest-square"></a>
          </li>
          <li>
            <a href="#" class="fa fa-linkedin-square"></a>
          </li>
          <li>
            <a href="#" class="fa fa-google-plus-square"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container header-row">
    <div class="col-xs-12 col-md-3">
      <div class="buttons-holder">
        <div class="btn-group le-dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown">
            {{ langNames[lang] }}
          </a>
          <ul class="dropdown-menu">
            {% set pageUrl = page.url %}
            {% set purePageUrl = page.url.substring(lang.length + 1) if page.url.startsWith('/' + lang) else page.url %}
            {% if locales.length %}
              {% for locale in locales -%}
                {% set localePrefix = '/' + locale.code if locale.code !== defaultLang else '' %}
                <li><a href="{{ localePrefix }}{{ purePageUrl }}" rel="alternate" hreflang="{{ locale.code }}">{{ locale.label }}</a></li>
              {% endfor -%}
            {% endif %}
          </ul>
        </div>
        <div class="btn-group le-dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown">
            <i class="fa fa-rub"></i> rub
          </a>
          <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-rub"></i> rub</a></li>
            <li><a href="#"><i class="fa fa-usd"></i> usd</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="logo">
        <a href="{{ langRootUrl }}">
          <img src="/images/logo/logo.svg" alt="{{ 'site.briefName' | i18n }}" />
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-md-3">
      <ul class="link-list inline">
        <li><a href="{{ langRootUrl }}user/account">{{ 'headerLinks.myAccount' | i18n }}</a></li>
        <li><a href="{{ langRootUrl }}user/wishlist">{{ 'headerLinks.myWishlist' | i18n }}</a></li>
        <li><a href="{{ langRootUrl }}user/login">{{ 'headerLinks.logIn' | i18n }}</a></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="top-nav-holder">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-8  nav-menu top-menu-holder">
          <nav class="hidden-xs visible-sm visible-lg visible-md">
            <ul class="nav">
              <li class=" le-dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                  {{ 'headerLinks.homepage' | i18n }}
                </a>
                <ul class="dropdown-menu">
                  <li><a href="{{ langRootUrl }}">{{ 'headerLinks.homepage' | i18n }}</a></li>
                  <li><a href="{{ langRootUrl }}test">{{ 'headerLinks.testPage' | i18n }}</a></li>
                </ul>
              </li>
              <li>
                <a  href="{{ langRootUrl }}products/men">{{ 'headerLinks.men' | i18n }}</a>
              </li>
              <li>
                <a  href="{{ langRootUrl }}products/women">{{ 'headerLinks.women' | i18n }}</a>
              </li>
              <li>
                <a  href="{{ langRootUrl }}products/sports">{{ 'headerLinks.sports' | i18n }}</a>
              </li>
              <li class="yamm megamenu le-dropdown">
                <ul class="nav">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      {{ 'headerLinks.pages' | i18n }}
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <div class="yamm-content">
                          <div class="row">
                            <div class="col-xs-12 col-md-3">
                              <h2 class="iconic-head">
                                <span class="icon-holder">
                                  <i class="fa fa-home"></i>
                                  <span class="triangle"></span>
                                </span>
                                {{ 'headerLinks.homepages' | i18n }}</h2>
                              <ul>
                                <li>
                                  <a href="{{ langRootUrl }}">{{ 'headerLinks.homepage' | i18n }}</a>
                                </li>
                                <li>
                                  <a href="{{ langRootUrl }}test">{{ 'headerLinks.testPage' | i18n }}</a>
                                </li>
                              </ul>
                              <h2 class="iconic-head">
                                <span class="icon-holder">
                                  <i class="fa fa-files-o"></i>
                                  <span class="triangle"></span>
                                </span>
                                {{ 'headerLinks.products' | i18n }}</h2>
                              <ul>
                                <li>
                                  <a href="{{ langRootUrl }}products-grid">{{ 'headerLinks.productsGridList' | i18n }}</a>
                                </li>
                                <li>
                                  <a href="{{ langRootUrl }}single-product-sidebar">{{ 'headerLinks.singleProductSidebar' | i18n }}</a>
                                </li>
                                <li>
                                  <a href="{{ langRootUrl }}single-product">{{ 'headerLinks.singleProduct' | i18n }}</a>
                                </li>
                              </ul>
                            </div>
                            <div class="col-xs-12 col-md-3">
                              <h2 class="iconic-head">
                                <span class="icon-holder">
                                  <i class="fa fa-credit-card"></i>
                                  <span class="triangle"></span>
                                </span>
                                {{ 'headerLinks.checkout' | i18n }}</h2>
                              <ul>
                                <li>
                                  <a href="{{ langRootUrl }}shopping-cart">{{ 'headerLinks.cartPage' | i18n }}</a>
                                </li>
                                <li>
                                  <a href="{{ langRootUrl }}checkout">{{ 'headerLinks.checkout' | i18n }}</a>
                                </li>
                                <li>
                                  <a href="{{ langRootUrl }}payment">{{ 'headerLinks.payment' | i18n }}</a>
                                </li>
                              </ul>
                              <h2 class="iconic-head">
                                <span class="icon-holder">
                                  <i class="fa fa-chain"></i>
                                  <span class="triangle"></span>
                                </span>
                                {{ 'headerLinks.otherLinks' | i18n }}</h2>
                              <ul>
                                <li>
                                  <a href="#">Lorem ipsum dolor sit amet</a>
                                </li>
                                <li>
                                  <a href="#">consectetur adipiscing</a>
                                </li>
                                <li>
                                  <a href="#">Nunc cursus</a>
                                </li>
                                <li>
                                  <a href="#">auctor pellentesque</a>
                                </li>
                                <li>
                                  <a href="#">Lorem ipsum dolor sit amet</a>
                                </li>
                                <li>
                                  <a href="#">consectetur adipiscing</a>
                                </li>
                              </ul>
                            </div>
                            <div class="col-xs-12 col-md-6">
                              <div class="mosaic-holder">
                                <div class="mosaic-banner big">
                                  <img alt="" src="/vendor/images/mosaic/real/mosaic06.jpg" />
                                  <div class="caption">
                                    <h1>
                                      <span class="light">special</span><br>
                                      off
                                    </h1>
                                    <a class="le-btn big" href="#">{{ 'headerLinks.learnMore' | i18n }}</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
          <select class="top-drop-menu nav hidden-md hidden-sm visible-xs hidden-lg">
            <optgroup label="{{ 'headerLinks.homepage' | i18n }}">
              <option value="{{ langRootUrl }}" selected="selected">
                {{ 'headerLinks.homepage' | i18n }}
              </option>
               <option value="{{ langRootUrl }}test">
                {{ 'headerLinks.testPage' | i18n }}
               </option>
            </optgroup>
            <option value="{{ langRootUrl }}products/men">
              {{ 'headerLinks.men' | i18n }}
            </option>
            <option value="{{ langRootUrl }}products/women">
              {{ 'headerLinks.women' | i18n }}
            </option>
            <option value="{{ langRootUrl }}products/sports">
              {{ 'headerLinks.sports' | i18n }}
            </option>
            <optgroup label="{{ 'headerLinks.pages' | i18n }}">
              <option value="{{ langRootUrl }}products-grid">
               {{ 'headerLinks.productsGridList' | i18n }}
              </option>
               <option value="{{ langRootUrl }}single-product-sidebar">
                {{ 'headerLinks.singleProductSidebar' | i18n }}
               </option>
              <option value="{{ langRootUrl }}single-product">
               {{ 'headerLinks.singleProduct' | i18n }}
              </option>
               <option value="{{ langRootUrl }}shopping-cart">
               {{ 'headerLinks.cartPage' | i18n }}
              </option>
               <option value="{{ langRootUrl }}checkout">
              {{ 'headerLinks.checkout' | i18n }}
              </option>
               <option value="{{ langRootUrl }}payment">
               {{ 'headerLinks.payment' | i18n }}
              </option>
            </optgroup>
          </select>
        </div>
        <div class="col-xs-12 col-md-3 col-lg-2 no-margin search-holder">
          <div class="searchbox">
            <a href="" class="fa fa-search search-button"></a>
            <div class="field">
              <form>
                <input type="text" data-placeholder="{{ 'headerLinks.enterKeyword' | i18n }}" />
              </form>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-3 col-lg-2 basket-holder">
          <div class="basket">
            <div class="dropdown">
              <a class="dropdown-toggle" data-hover="dropdown" href="#">
                <div class="basket-icon">
                  <img class="svg" alt="basket" src="/vendor/images/basket.svg" />
                  <span class="item-count">
                    3
                  </span>
                </div>
                <span class="total-price">
                  $389.99
                </span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <div class="basket-item">
                    <div class="row">
                      <div class="col-xs-12 col-sm-2 col-md-4">
                        <div class="thumb">
                          <img alt="" src="/vendor/images/products/products-on-white/product01.png" />
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-10 col-md-8">
                        <div class="title">Man shoe</div>
                        <div class="price">$170.00</div>
                      </div>
                    </div>
                    <a class="close-btn" href="#"></a>
                  </div>
                </li>
                <li>
                  <div class="basket-item">
                    <div class="row">
                      <div class="col-xs-12 col-sm-2 col-md-4">
                        <div class="thumb">
                          <img alt="" src="/vendor/images/products/products-on-white/product02.png" />
                        </div>
                      </div>
                       <div class="col-xs-12 col-sm-10 col-md-8">
                        <div class="title">Woman Shoe</div>
                        <div class="price">$120.00</div>
                      </div>
                    </div>
                    <a class="close-btn" href="#"></a>
                  </div>
                </li>
                <li>
                  <div class="basket-item">
                    <div class="row">
                     <div class="col-xs-12 col-sm-2 col-md-4">
                        <div class="thumb">
                          <img alt="" src="/vendor/images/products/products-on-white/product03.png" />
                        </div>
                      </div>
                     <div class="col-xs-12 col-sm-10 col-md-8">
                        <div class="title">Indirimli Shoe</div>
                        <div class="price">$99.99</div>
                      </div>
                    </div>
                    <a class="close-btn" href="#"></a>
                  </div>
                </li>
                <li class="checkout">
                  <div class="merged-buttons">
                    <a href="{{ langRootUrl }}checkout" class="btn-add-to-cart le-btn">{{ 'headerLinks.checkout' | i18n }}</a>
                    <a href="{{ langRootUrl }}shopping-cart" class="btn-add-to-wishlist le-btn">{{ 'headerLinks.showCart' | i18n }}</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
