{% set langRootUrl = '/' + lang + '/' if lang !== defaultLang else '/' %}

<section id="featured-products">
  <div class="container">
    <div class="iconic-nav-bar">
      <div class="icon-holder">
        <i class="fa fa-star"></i>
        <span class="triangle"></span>
      </div>
      <div class="bar">
        <h2>{{ 'sections.featuredProducts' | i18n | safe }}</h2>
        <div class="nav-buttons">
          <a class="btn-prev" href="#prev"></a>
          <a class="btn-next" href="#next"></a>
        </div>
      </div>
    </div>
    <div class="products-holder product-carousel owl-carousel">
      <div class="product-item">
        <div class="head">
          <div class="le-ribbon green right"><span>{{ 'products.halfPrice' | i18n }}</span></div>
          <div class="thumb">
            <img alt="" src="/vendor/images/products/products-modelist-1/product01.png" />
          </div>
          <div class="price">
            <div class="price-old">
              <span class="currency">$</span>250
            </div>
            <div class="price-current">
              <span class="currency">$</span>145
            </div>
          </div>
          <div class="star-holder">
            <div class="star" data-score="3"></div>
          </div>
          <button class="btn-compare  btn-iconic"></button>
        </div>
        <div class="body">
          <h3><a href="{{ langRootUrl }}single-product">consectetur adipiscing elit</a></h3>
          <div class="excerpt">
            Looking lorem round, to ascertain that they...
          </div>
          <div class="merged-buttons">
            <button class="btn-add-to-cart le-btn btn-iconic">{{ 'products.toCart' | i18n }}</button>
            <button class="btn-add-to-wishlist le-btn btn-iconic">{{ 'products.wishlist' | i18n }}</button>
          </div>
        </div>
      </div>
      <div class="product-item">
        <div class="head">
          <div class="thumb">
            <img alt="" src="/vendor/images/products/products-modelist-1/product02.png" />
          </div>
          <div class="price">
            <div class="price-old">
              <span class="currency">$</span>350
            </div>
            <div class="price-current">
              <span class="currency">$</span>245
            </div>
          </div>
          <div class="star-holder">
            <div class="star" data-score="4"></div>
          </div>
          <button class="btn-compare  btn-iconic"></button>
        </div>
        <div class="body">
          <h3><a href="{{ langRootUrl }}single-product">Man sport Hiking shoe</a></h3>
          <div class="excerpt">
            Looking lorem round, to ascertain that they...
          </div>
          <div class="merged-buttons">
            <button class="btn-add-to-cart le-btn btn-iconic">{{ 'products.toCart' | i18n }}</button>
            <button class="btn-add-to-wishlist le-btn btn-iconic">{{ 'products.wishlist' | i18n }}</button>
          </div>
        </div>
      </div>
      <div class="product-item">
        <div class="head">
          <div class="le-badge orange"><span>{{ 'products.discount50' | i18n }}</span></div>
          <div class="thumb">
            <img alt="" src="/vendor/images/products/products-modelist-1/product03.png" />
          </div>
          <div class="price">
            <div class="price-old">
              <span class="currency">$</span>450
            </div>
            <div class="price-current">
              <span class="currency">$</span>245
            </div>
          </div>
          <div class="star-holder">
            <div class="star" data-score="4"></div>
          </div>
          <button class="btn-compare  btn-iconic"></button>
        </div>
        <div class="body">
          <h3><a href="{{ langRootUrl }}single-product">Woman highheel shoe</a></h3>
          <div class="excerpt">
            Looking lorem round, to ascertain that they...
          </div>
          <div class="merged-buttons">
            <button class="btn-add-to-cart le-btn btn-iconic">{{ 'products.toCart' | i18n }}</button>
            <button class="btn-add-to-wishlist le-btn btn-iconic">{{ 'products.wishlist' | i18n }}</button>
          </div>
        </div>
      </div>
      <div class="product-item">
        <div class="head">
          <div class="le-badge green"><span>{{ 'products.new' | i18n }}</span></div>
          <div class="thumb">
            <img alt="" src="/vendor/images/products/products-modelist-1/product04.png" />
          </div>
          <div class="price">
            <div class="price-old">
              <span class="currency">$</span>120
            </div>
            <div class="price-current">
              <span class="currency">$</span>95
            </div>
          </div>
          <div class="star-holder">
            <div class="star" data-score="2"></div>
          </div>
          <button class="btn-compare  btn-iconic"></button>
        </div>
        <div class="body">
          <h3><a href="{{ langRootUrl }}single-product">Woman highheel shoe</a></h3>
          <div class="excerpt">
            Looking lorem round, to ascertain that they...
          </div>
          <div class="merged-buttons">
            <button class="btn-add-to-cart le-btn btn-iconic">{{ 'products.toCart' | i18n }}</button>
            <button class="btn-add-to-wishlist le-btn btn-iconic">{{ 'products.wishlist' | i18n }}</button>
          </div>
        </div>
      </div>
      <div class="product-item">
        <div class="head">
          <div class="thumb">
            <img alt="" src="/vendor/images/products/products-modelist-1/product03.png" />
          </div>
          <div class="price">
            <div class="price-old">
              <span class="currency">$</span>450
            </div>
            <div class="price-current">
              <span class="currency">$</span>245
            </div>
          </div>
          <div class="star-holder">
            <div class="star" data-score="4"></div>
          </div>
          <button class="btn-compare  btn-iconic"></button>
        </div>
        <div class="body">
          <h3><a href="{{ langRootUrl }}single-product">Woman highheel shoe</a></h3>
          <div class="excerpt">
            Looking lorem round, to ascertain that they...
          </div>
          <div class="merged-buttons">
            <button class="btn-add-to-cart le-btn btn-iconic">{{ 'products.toCart' | i18n }}</button>
            <button class="btn-add-to-wishlist le-btn btn-iconic">{{ 'products.wishlist' | i18n }}</button>
          </div>
        </div>
      </div>
      <div class="product-item">
        <div class="head">
          <div class="thumb">
            <img alt="" src="/vendor/images/products/products-modelist-1/product02.png" />
          </div>
          <div class="price">
            <div class="price-current">
              <span class="currency">$</span>245
            </div>
          </div>
          <div class="star-holder">
            <div class="star" data-score="4"></div>
          </div>
          <button class="btn-compare  btn-iconic"></button>
        </div>
        <div class="body">
          <h3><a href="{{ langRootUrl }}single-product">Man sport Hiking shoe</a></h3>
          <div class="excerpt">
            Looking lorem round, to ascertain that they...
          </div>
          <div class="merged-buttons">
            <button class="btn-add-to-cart le-btn btn-iconic">{{ 'products.toCart' | i18n }}</button>
            <button class="btn-add-to-wishlist le-btn btn-iconic">{{ 'products.wishlist' | i18n }}</button>
          </div>
        </div>
      </div>
      <div class="product-item">
        <div class="head">
          <div class="thumb">
            <img alt="" src="/vendor/images/products/products-modelist-1/product04.png" />
          </div>
          <div class="price">
            <div class="price-current">
              <span class="currency">$</span>95
            </div>
          </div>
          <div class="star-holder">
            <div class="star" data-score="2"></div>
          </div>
          <button class="btn-compare  btn-iconic"></button>
        </div>
        <div class="body">
          <h3><a href="{{ langRootUrl }}single-product">colorful cool runnig shoes</a></h3>
          <div class="excerpt">
            Looking lorem round, to ascertain that they...
          </div>
          <div class="merged-buttons">
            <button class="btn-add-to-cart le-btn btn-iconic">{{ 'products.toCart' | i18n }}</button>
            <button class="btn-add-to-wishlist le-btn btn-iconic">{{ 'products.wishlist' | i18n }}</button>
          </div>
        </div>
      </div>
      <div class="product-item">
        <div class="head">
          <div class="thumb">
            <img alt="" src="/vendor/images/products/products-modelist-1/product01.png" />
          </div>
          <div class="price">
            <div class="price-current">
              <span class="currency">$</span>145
            </div>
          </div>
          <div class="star-holder">
            <div class="star" data-score="3"></div>
          </div>
          <button class="btn-compare  btn-iconic"></button>
        </div>
        <div class="body">
          <h3><a href="{{ langRootUrl }}single-product">consectetur adipiscing elit</a></h3>
          <div class="excerpt">
            Looking lorem round, to ascertain that they...
          </div>
          <div class="merged-buttons">
            <button class="btn-add-to-cart le-btn btn-iconic">{{ 'products.toCart' | i18n }}</button>
            <button class="btn-add-to-wishlist le-btn btn-iconic">{{ 'products.wishlist' | i18n }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
