{% set langRootUrl = '/' + lang + '/' if lang !== defaultLang else '/' %}

<section id="bestsellers">
  <div class="container">
    <div class="iconic-nav-bar">
      <div class="icon-holder">
        <i class="fa fa-dollar"></i>
        <span class="triangle"></span>
      </div>
      <div class="bar">
        <h2>{{ 'sections.bestSellers' | i18n | safe }}</h2>
      </div>
    </div>
    <div class="products-holder simple-grid">
      <div class="product-wrapper col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-item">
          <div class="head">
            <div class="le-ribbon blue right"><span>{{ 'products.newExclam' | i18n }}</span></div>
            <div class="thumb">
              <img alt="" src="/vendor/images/products/products-real/real-x300.png" />
            </div>
            <div class="price">
              <div class="price-old">
                <span class="currency">$</span>250
              </div>
              <div class="price-current">
                <span class="currency">$</span>145
              </div>
            </div>
            <div class="star-holder">
              <div class="star" data-score="3"></div>
            </div>
            <button class="btn-compare  btn-iconic"></button>
          </div>
          <div class="body">
            <h3><a href="{{ langRootUrl }}single-product">consectetur adipiscing elit - extra_long_text_line_for_testing_purposes_only</a></h3>
            <div class="excerpt">
              Looking lorem round, to ascertain that they - extra_long_text_line_for_testing_purposes_only.
            </div>
            <div class="merged-buttons">
              <button class="btn-add-to-cart le-btn btn-iconic">{{ 'products.toCart' | i18n }}</button>
              <button class="btn-add-to-wishlist le-btn btn-iconic">{{ 'products.wishlist' | i18n }}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="product-wrapper col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-item">
          <div class="head">
            <div class="thumb">
              <img alt="" src="/vendor/images/products/products-modelist-1/product02.png" />
            </div>
            <div class="price">
              <div class="price-old">
                <span class="currency">$</span>350
              </div>
              <div class="price-current">
                <span class="currency">$</span>245
              </div>
            </div>
            <div class="star-holder">
              <div class="star" data-score="4"></div>
            </div>
            <button class="btn-compare  btn-iconic"></button>
          </div>
          <div class="body">
            <h3><a href="{{ langRootUrl }}single-product">Man sport Hiking shoe</a></h3>
            <div class="excerpt">
              Looking lorem round, to ascertain that they...
            </div>
            <div class="merged-buttons">
              <button class="btn-add-to-cart le-btn btn-iconic">{{ 'products.toCart' | i18n }}</button>
              <button class="btn-add-to-wishlist le-btn btn-iconic">{{ 'products.wishlist' | i18n }}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="product-wrapper col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-item">
          <div class="head">
            <div class="le-badge orange"><span>{{ 'products.discount50' | i18n }}</span></div>
            <div class="thumb">
              <img alt="" src="/vendor/images/products/products-modelist-1/product03.png" />
            </div>
            <div class="price">
              <div class="price-old">
                <span class="currency">$</span>450
              </div>
              <div class="price-current">
                <span class="currency">$</span>245
              </div>
            </div>
            <div class="star-holder">
              <div class="star" data-score="4"></div>
            </div>
            <button class="btn-compare  btn-iconic"></button>
          </div>
          <div class="body">
            <h3><a href="{{ langRootUrl }}single-product">Woman highheel shoe</a></h3>
            <div class="excerpt">
              Looking lorem round, to ascertain that they...
            </div>
            <div class="merged-buttons">
              <button class="btn-add-to-cart le-btn btn-iconic">{{ 'products.toCart' | i18n }}</button>
              <button class="btn-add-to-wishlist le-btn btn-iconic">{{ 'products.wishlist' | i18n }}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="product-wrapper col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-item">
          <div class="head">
            <div class="le-badge green"><span>{{ 'products.new' | i18n }}</span></div>
            <div class="thumb">
              <img alt="" src="/vendor/images/products/products-modelist-1/product04.png" />
            </div>
            <div class="price">
              <div class="price-old">
                <span class="currency">$</span>120
              </div>
              <div class="price-current">
                <span class="currency">$</span>95
              </div>
            </div>
            <div class="star-holder">
              <div class="star" data-score="2"></div>
            </div>
            <button class="btn-compare  btn-iconic"></button>
          </div>
          <div class="body">
            <h3><a href="{{ langRootUrl }}single-product">colorful cool runnig shoes</a></h3>
            <div class="excerpt">
              Looking lorem round, to ascertain that they...
            </div>
            <div class="merged-buttons">
              <button class="btn-add-to-cart le-btn btn-iconic">{{ 'products.toCart' | i18n }}</button>
              <button class="btn-add-to-wishlist le-btn btn-iconic">{{ 'products.wishlist' | i18n }}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="product-wrapper col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-item">
          <div class="head">
            <div class="thumb">
              <img alt="" src="/vendor/images/products/products-modelist-1/product03.png" />
            </div>
            <div class="price">
              <div class="price-old">
                <span class="currency">$</span>450
              </div>
              <div class="price-current">
                <span class="currency">$</span>245
              </div>
            </div>
            <div class="star-holder">
              <div class="star" data-score="4"></div>
            </div>
            <button class="btn-compare  btn-iconic"></button>
          </div>
          <div class="body">
            <h3><a href="{{ langRootUrl }}single-product">Woman highheel shoe</a></h3>
            <div class="excerpt">
              Looking lorem round, to ascertain that they...
            </div>
            <div class="merged-buttons">
              <button class="btn-add-to-cart le-btn btn-iconic">{{ 'products.toCart' | i18n }}</button>
              <button class="btn-add-to-wishlist le-btn btn-iconic">{{ 'products.wishlist' | i18n }}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="product-wrapper col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-item">
          <div class="head">
            <div class="thumb">
              <img alt="" src="/vendor/images/products/products-modelist-1/product02.png" />
            </div>
            <div class="price">
              <div class="price-current">
                <span class="currency">$</span>245
              </div>
            </div>
            <div class="star-holder">
              <div class="star" data-score="4"></div>
            </div>
            <button class="btn-compare  btn-iconic"></button>
          </div>
          <div class="body">
            <h3><a href="{{ langRootUrl }}single-product">Man sport Hiking shoe</a></h3>
            <div class="excerpt">
              Looking lorem round, to ascertain that they...
            </div>
            <div class="merged-buttons">
              <button class="btn-add-to-cart le-btn btn-iconic">{{ 'products.toCart' | i18n }}</button>
              <button class="btn-add-to-wishlist le-btn btn-iconic">{{ 'products.wishlist' | i18n }}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="product-wrapper col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-item">
          <div class="head">
            <div class="thumb">
              <img alt="" src="/vendor/images/products/products-modelist-1/product04.png" />
            </div>
            <div class="price">
              <div class="price-current">
                <span class="currency">$</span>95
              </div>
            </div>
            <div class="star-holder">
              <div class="star" data-score="2"></div>
            </div>
            <button class="btn-compare  btn-iconic"></button>
          </div>
          <div class="body">
            <h3><a href="{{ langRootUrl }}single-product">colorful cool runnig shoes</a></h3>
            <div class="excerpt">
              Looking lorem round, to ascertain that they...
            </div>
            <div class="merged-buttons">
              <button class="btn-add-to-cart le-btn btn-iconic">{{ 'products.toCart' | i18n }}</button>
              <button class="btn-add-to-wishlist le-btn btn-iconic">{{ 'products.wishlist' | i18n }}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="product-wrapper col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-item">
          <div class="head">
            <div class="thumb">
              <img alt="" src="/vendor/images/products/products-modelist-1/product01.png" />
            </div>
            <div class="price">
              <div class="price-current">
                <span class="currency">$</span>145
              </div>
            </div>
            <div class="star-holder">
              <div class="star" data-score="3"></div>
            </div>
            <button class="btn-compare  btn-iconic"></button>
          </div>
          <div class="body">
            <h3><a href="{{ langRootUrl }}single-product">consectetur adipiscing elit</a></h3>
            <div class="excerpt">
              Looking lorem round, to ascertain that they...
            </div>
            <div class="merged-buttons">
              <button class="btn-add-to-cart le-btn btn-iconic">{{ 'products.toCart' | i18n }}</button>
              <button class="btn-add-to-wishlist le-btn btn-iconic">{{ 'products.wishlist' | i18n }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
