:root {
  /* Global variables from `src/static/vendor/css/stylesheet.less` */

  --black: #000000;
  --dark: #323232;
  --gray-dark: #747474;
  --gray: #abb0ac;
  --white: #fff;
  --milky: #f4f4f4;
  --gray-light: #f0f0f1;
  --orange: #fa8411;
  --light: #e3e8e4;

  --primary-color: #1da796; /* color1 */
  --secondary-color: #8bb040; /* color2 */
  --active-color: #59b210;

  /* Custom variables... */

  --product-item-background: #fff;
  --product-item-body-background: #f8f8f8;
  --product-item-height: 220px;

  --transition-timeout: 250ms;
}
